:root {
  --primary: #171717;
  --secondary: #525252;
  --indigo: #4338ca;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px 16px;
  gap: 40px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  text-align: center;
}

.profile-user {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-name {
  font-family: "Noto Sans";
  font-size: 1.25rem;
  color: var(--primary);
  line-height: 28px;
}

.profile-title {
  font-family: "Noto Sans";
  color: var(--secondary);
  font-size: 0.875rem;
  line-height: 20px;
}

.profile-description {
  font-family: "Noto Sans";
  color: var(--secondary);
  font-size: 1rem;
  line-height: 24px;
}

.profile-image {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.profile-button {
  font-family: "Noto Sans";
  background-color: var(--indigo);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;

  button {
    color: var(--indigo);
    padding: 8px;
    border: none;
    background-color: #fff;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
